* {
  --base-text-color: rgb(90, 87, 87);
  --highlight-main: rgb(255,245,240);
  --highlight-sec: rgb(227, 165, 110);
  
  font-family: Courier, serif;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: rgb(55,55,55);
  color: var(--base-text-color);
}
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
}
#app {
  place-self: center center;
}

.highlight-main {
  color: var(--highlight-main);
}
.highlight-sec {
  color: var(--highlight-sec);
}

.clock {
  width: fit-content;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  .section {
    column-gap: 0.2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(3, auto);
  }
}

.pip-button {
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  border-radius: 0 0 0 10px;
  background-color: rgba(255,255,255, 0.5);
  
  &&:disabled {
    background-color: rgba(255,255,255, 0.3);
  }
}

@media (display-mode: picture-in-picture) {
  * {
    font-size: 1rem;
  }
  .clock {
    column-gap: 1.2rem;
    .section {
      gap: 0.1rem;
    }
  }
}